<div class="container text-center">
  <div class="container bg-body-secondary mt-4 d-flex flex-column justify-content-center align-items-center"
    style="height: 150px;">
    <figure>
      <img src="../../../assets/img/logo_concessionaria.png" style="width: 70px;" alt="logo_concessionaria">
      <figcaption class="didascalia fw-bold fs-4">Il tuo salone di fiducia</figcaption>
    </figure>
  </div>
  <div class="row">
    <div class="fs-4">I nostri marchi</div>
    <div class="col">
      column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
  <hr>

  <app-evidence></app-evidence>
</div>