<div class="d-flex justify-content-center my-5">
  <div class="row gy-3">
    <div class="col-12" *ngIf="user">
      <div class="card h-100 shadow">
        <img src="https://cdn.pixabay.com/photo/2024/04/03/00/43/man-8671906_960_720.png" class="card-img-top rounded-2"
          style="object-fit: cover; height: 350px" />
        <div class="card-body text-center d-flex flex-column">
          <div>
            <h5 class="card-title">{{ user.user.name }}</h5>
            <h5 class="card-title">{{ user.user.email }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h1 class="text-center p-2 mb-3">Preferiti</h1>
  <div class="row gy-3">
    <div class="col-3" *ngFor="let movie of film">
      <div class="card h-100 shadow d-flex flex-column">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
          alt="{{ movie.title }}, poster" style="object-fit: cover; height: 350px" />
        <div class="card-body text-center d-flex flex-column">
          <div>
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.overview.slice(0, 30) }}...</p>
          </div>
          <div class="mt-auto d-flex justify-content-between">
            <a [routerLink]="['/details', movie.id]" class="btn btn-primary mb-1">Mostra dettagli</a>
            <button (click)="favourite(movie)" type="button" class="btn btn-outline-danger mb-1"
              [ngClass]="movie.video ? 'active' : ''" data-bs-toggle="button">
              <i class="bi bi-heart-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
