<div class="footer text-white d-flex align-items-center">
    <div class="container_pic d-flex flex-column w-50 ms-5">
        <img src="../../../assets/img/logo_concessionaria.png" style="width: 70px;">
        <span class="fw-bold fs-5">Il tuo autosalone di fiducia</span>
        <span>Via Tal dei Tali 25</span>
        <span>00100 Torino</span>
        <span class="d-inline"> <i class="bi bi-telephone-fill"></i> | <i class="bi bi-phone"></i> <span>&nbsp;01124567845</span></span>
        <span><i class="bi bi-envelope-at-fill"></i> <span>&nbsp;info@autorent.auto</span></span>
    </div>
    <div class="col-md-4 d-flex justify-content-between text-white">
        <a class="home d-inline" [routerLink]="['/']"> Home</a>
        <p class="d-inline">|</p>
        <a class="fiat d-inline" [routerLink]="['/fiat']">Fiat</a>
        <p class="d-inline">|</p>
        <a class="ford d-inline" [routerLink]="['/ford']">Ford</a>
        <p class="d-inline">|</p>
        <a class="audi d-inline" [routerLink]="['/audi']">Audi</a>
      </div>
    <div class="container w-50 ms-5 fs-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate architecto laudantium quibusdam aliquam
            sunt commodi hic totam, pariatur reiciendis id, ex quidem fuga fugiat! Aperiam doloribus quasi sed labore
            mollitia!</p>
    </div>
</div>