<div class="container">
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" required [(ngModel)]="user.username"/>
        <label for="password" class="form-label">Password</label>
        <input type="text" id="password" name="password" class="form-control" required [(ngModel)]="user.password"/>
        <button type="submit" class="btn btn-primary mt-2">LogIn</button>
    </form>
</div>