<div class="container text-center mt-4">
  <h1 class="popular text-center p-2 mb-3 text-uppercase">Film popolari</h1>
  <div class="row gy-3">
    <div class="col-3" *ngFor="let movie of film">
      <div class="card h-100 shadow d-flex flex-column">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
          alt="{{ movie.title }}, poster"/>
        <div class="card-body d-flex flex-column">
          <div>
            <h5 class="card-title fw-bolder">{{ movie.title }}</h5>
            <p class="card-text fst-italic mb-2">{{ movie.overview.slice(0, 30) }}...</p>
          </div>
          <div class="mt-auto d-flex justify-content-between">
            <a [routerLink]="['/details', movie.id]" class="btn btn-primary">Mostra dettagli</a>
            <button (click)="favourite(movie)" type="button" class="btn btn-outline-danger"
              [ngClass]="movie.video ? 'active' : ''" data-bs-toggle="button">
              <i class="bi bi-heart-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>