<footer>
    <div *ngIf="user" class="container text-secondary d-flex flex-column flex-md-row">
      <div class="container">
        <div class="pt-3">
          <div class="d-flex ">
            <div class="overfooter"><i class="bi bi-facebook fs-4 me-2"></i></div>
            <div class="overfooter"><i class="bi bi-twitter fs-4 me-2"></i></div>
            <div class="overfooter"><i class="bi bi-instagram fs-4 me-2"></i></div>
            <div class="overfooter"><i class="bi bi-youtube fs-4"></i></div>
          </div>

          <p class="overfooter">Audio and Subtitles</p>
          <p class="overfooter">Media Center</p>
          <p class="overfooter">Privacy</p>
          <p class="overfooter">Contact Us</p>
          <button class="mb-3 btn border border-1 border-secondary text-secondary rounded-0 overb" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">Service Code </button>
          <p>&copy;1997-2021 Netflix Inc</p>
        </div>
      </div>
      <div class="container mt-md-3">
        <p class="overfooter">Audio Description</p>
        <p class="overfooter">Investor Relations</p>
        <p class="overfooter">Legal Notices</p>
      </div>
      <div class="container mt-md-3">
        <p class="overfooter">Help Center</p>
        <p class="overfooter">Jobs</p>
        <p class="overfooter">Cookie Preferencies</p>
      </div>
      <div class="container mt-md-3">
        <p class="overfooter">Gift Cards</p>
        <p class="overfooter">Terms of Use</p>
        <p class="overfooter">Corporate Informations</p>
      </div>
    </div>
  </footer>