<h1 class="text-center my-4">La lista dei nostri utenti</h1>
<div  *ngFor="let item of user" class="users container m-5">
    <div class="accordion accordion-flush" id="accordion{{item.id}}">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseOne'+item.id" aria-expanded="false"  [attr.aria-controls]="'flush-collapseOne'+item.id">
           <h5 class="card-title">{{ item.name }}</h5>
        </button>
      </h2>
      <div id="flush-collapseOne{{item.id}}" class="accordion-collapse collapse" [attr.data-bs-parent]="'#accordion'+item.id">
        <div class="accordion-body"><code>{{item.email}}</code></div>
      </div>
    </div>
  </div>
</div>